<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" aria-describedby="Nome" (input)="getWineFromName($event)" [(ngModel)]="wineName">

      </div>
    <div class="row">
        <div class="col-3 wine-row-first" *ngFor="let type of types">
            <button class="btn btn-secondary btn-block wine-row-button"
                (click)="getWineFromType(type.type)">{{type.type}}</button>
        </div>
    </div>

    <div class="row wine-row-first wine-type-row" *ngIf="selectedType!=''">{{selectedType}} <button class="btn type-cancel-button wine-row-first" (click)="removeTypeFilter()">X</button></div>
    <div class="row">
        <div class="col-3 wine-row-first"><span>Nome</span></div>
        <div class="col-3 wine-row-first"><span>Prezzo</span></div>
        <div class="col-3 wine-row-first"><span>Quantità (T/S)</span></div>
        <div class="col-3 wine-row-first"><span>Dettagli</span></div>
    </div>
    <div *ngFor="let wine of wines; let i = index">
        <div class="row wine_row" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}"
            (click)="openDetail(wine)">
            <div class="col-3 wine-row-first"><span>{{wine['wine_name']}}</span></div>
            <div class="col-3 wine-row-first"><span>{{wine['price']}} €</span></div>
            <div class="col-3 wine-row-first"><span>{{wine['tastuma_vinery']}} / {{wine['sciolze_vinery']}}</span></div>
            <div class="col-3 wine-row-first"><button class="btn btn-secondary" (click)="goToDetail(wine)">🛈</button>
            </div>
        </div>
        <div class="row detail-section" *ngIf="selectedWine == wine">
            <!-- <div class="row detail-title">
                <img class="wine-image" src="../../assets/images/wine_images/barolo.png">
            </div> -->
            <div class="row wine-row-details wine-row-first">
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>TIPO</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['type']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>ANNO</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['year']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>REGIONE</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['region']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>DENOMIN.</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['denomination']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">

                    <div class="col-12 detail-subtitle">
                        <span>AZIENDA</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['company']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>VITIGNO</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['vine']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>ACQUISTATO DA</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['reseller']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>TEMPERATURA DI SERVIZIO</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['service_temp']}}</span>
                    </div>
                </div>
                <div *ngIf="selectedWine == wine" class="col-4">
                    <div class="col-12 detail-subtitle">
                        <span>TEMPERATURA FRIGO</span>
                    </div>
                    <div class="col-12">
                        <span>{{selectedWine['fridge_temp']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>